<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="icon" href="{{url_for('static', filename='images/img/favicon.png')}}" type="image/png" sizes="32X32">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <script src="https://kit.fontawesome.com/18624a5714.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/18624a5714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<style>
    body{
        background: #654ea3;
        background: linear-gradient(to right, #e96443, #904e95);
     
    }
</style>
<body>
    <nav class="posts-nav">
        <div class="top form-nav">
            <h1>Black <span>Tiles</span></h1>
        </div>
        <div>
            <a href="/profile/{{usr[0][0]}}"><img src={{url_for('static', filename='images/uploads/'+usr[0][5])}} alt=""></a>
        </div>
    </nav>
    <hr />
    <header>
        <h1>Welcome {{usr[0][3]}} {{usr[0][4]}}</h1>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Alert!!</strong><small>{{message}}</small>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="upload-post container">
        <button class="btn btn-primary col-md-6" type="button" onclick="postReveal()" id="button-post">Add a New Post</button>
        <div class="container top-content" id="blogpost"> 
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="txtarea">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="postcontent" placeholder="Your text here....." maxlength="300"></textarea>
                </div>
                <div class="custom-file imgfile">
                    <input type="file" class="custom-file-input" id="customFile" name="postimage" required>
                    <label class="custom-file-label" for="customFile">Image</label>
                </div>
                <button type="submit" class="btn btn-primary mb-2 uploadbtn"><i class="fas fa-upload" style="font-size: 20px;"></i></button>
            </form>
        </div>
    </div>
    <br>
    <div class="post-section">
        {% for j in usr[1] %}
            <div class="card" id="{{j[0]}}">
                <div class="card-upper">
                    <a href="/userprofile/{{j[1]}}"><img src={{url_for('static', filename='images/uploads/'+j[6])}} alt="" class="post-img"></a>
                    <div class="name-date">
                        <a href="/userprofile/{{j[1]}}" style="text-decoration: none; color:rgb(94, 91, 91);"><strong>{{j[4]}} {{j[5]}}</strong></a>
                        <small>{{j[7]}}</small>
                    </div>
                </div>
                <div class="card-lower">
                    <p class="post-para">{{j[2]}}</p>
                    <img src={{url_for('static', filename='images/uploads/'+j[3])}} alt="" class="post-image">
                </div>
                <div class="card-bottom">
                    <a class="comments" href="/comments/{{usr[0][0]}}/{{j[0]}}"><i class="fa fa-comments" aria-hidden="true"></i> Comments <small>({{j[8]}})</small></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>
</html>